{% extends "base.html" %}

{% block content %}
<div class="container mx-auto px-4">
    <h1 class="text-2xl font-bold my-4">Lista lokalizacji</h1>
    <a href="{{ url_for('add_location') }}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mb-4 inline-block">Dodaj nową lokalizację</a>
    
    <table class="min-w-full table-auto">
        <thead class="bg-gray-200">
            <tr>
                <th class="px-4 py-2">ID</th>
                <th class="px-4 py-2">Nazwa</th>
                <th class="px-4 py-2">Opis</th>
                <th class="px-4 py-2">Akcje</th>
            </tr>
        </thead>
        <tbody>
            {% for location in locations %}
            <tr class="border-b">
                <td class="px-4 py-2">{{ location.id }}</td>
                <td class="px-4 py-2">{{ location.name }}</td>
                <td class="px-4 py-2">{{ location.description }}</td>
                <td class="px-4 py-2">
                    <a href="{{ url_for('edit_location', location_id=location.id) }}" class="bg-green-500 hover:bg-green-700 text-white py-1 px-2 rounded">Edytuj</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}